/* Styling for Body */
body {
    background-image: linear-gradient(to bottom right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  /* Styling for Texts */
  .text-center {
    text-align: center;
  }
  h4 {
    margin: 0.5rem 0;
  }
  
  /* Styling for Width */
  .w-15, .w-25, .w-40 {
    position: relative;
  }
  .w-15 {
    width: 15%;
  }
  .w-25 {
    width: 25%;
  }
  .w-40 {
    width: 40%;
  }
  
  /* Styling for Padding */
  .px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  /* Styling for Horizontal Auto */
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Styling for Display Flex */
  .d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .space-between-flex {
    justify-content: space-between;
  }
  .vertical-bottom {
    align-self: flex-end;
  }
  
  /* Styling for Input Field */
  label {
    font-size: 0.875rem;
    color: grey;
  }
  input {
    padding-right: 1.25rem;
  }
  input, #roman-num1, #num2 {
    position: relative;
    width: 100%;
    min-height: 2rem;
    font-size: 2rem;
    border-bottom-color: rgb(238, 238, 238);
    border-radius: 0;
    border-width: 0 0 2px 0;
  }
  input:focus {
    outline: none;
    border-width: 0 0 2px 0;
    border-color: blue;
  }
  .roman-num-box {
    border-bottom: 2px solid rgb(238, 238, 238);
  }
  .close-icon {
    background-color: transparent;
    position: absolute;
    top: 1.75rem;
    left: 100%;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border:1px solid transparent;
  }
  .close-icon:after {
    background-color: #dddddd;
    content: "x";
    display: block;
      width: 0.75rem;
      height: 0.75rem;
      margin: auto;
    padding: 3px;
    line-height: 1;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: bold;
    font-size: 0.75rem;
    z-index:1;
  }
  input:placeholder-shown ~ .close-icon{
      display: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  /* Styling for Button */
  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
  }
  button:disabled, .roman-num-box {
    cursor: not-allowed;
  }
  
  /* Styling for Body of Application */
  .container {
    background: white;
    position: relative;
    top: 100px;
    width: 50%;
    padding: 2rem;
    box-shadow: 0 0 2px 2px #666666;
    border-radius: 1rem;
  }
  #error1, #error2 {
    display: none;
    color: red;
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
  #roman-num1, #num2 {
    overflow-x: auto;
  }
  
  @media screen and (max-width: 800px) {
    .w-15, .w-25, .w-40 {
      width: 100%;
    }  
    #convertToRoman, #convertToNumber, .roman-num-box {
      margin-top: 0.5rem;
    }
  }
  
  @media screen and (max-width: 575px) {
    .container {
      width: 75%;
    }
  }